<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-nativeconnector" version="1.0.0">
   <name>NativeConnector</name>
   <js-module name="NativeConnector" src="www/NativeConnector.js">
      <clobbers target="NativeConnector" />
   </js-module>
   <platform name="android">
      <config-file parent="." target="res/xml/config.xml">
         <feature name="NativeConnector">
            <param name="android-package" value="cordova.plugin.nativeconnector.NativeConnector" />
         </feature>
      </config-file>
      <config-file parent="." target="AndroidManifest.xml" />
      <source-file src="src/android/NativeConnector.java" target-dir="src/cordova/plugin/nativeconnector/NativeConnector" />
      
      <source-file src="src/android/jhxd/serial/serialService.java" target-dir="src/com/jhxd/serial" />
      <source-file src="src/android/wzh/yho_gpio_operate/gpio_info.java" target-dir="src/com/wzh/yho_gpio_operate" />
      <!-- jni_serial -->
      <source-file src="src/android/jni_serial/Android.mk" target-dir="jni_serial" />
      <source-file src="src/android/jni_serial/Application.mk" target-dir="jni_serial" />
      <source-file src="src/android/jni_serial/com_jhxd_serial_serialService.h" target-dir="jni_serial" />
      <source-file src="src/android/jni_serial/serial_jni.cpp" target-dir="jni_serial" />
      <!-- jni -->
      <source-file src="src/android/jni/Android.mk" target-dir="jni" />
      <source-file src="src/android/jni/Application.mk" target-dir="jni" />
      <source-file src="src/android/jni/rk_pin_array_ctrl.h" target-dir="jni" />
      <source-file src="src/android/jni/native.cpp" target-dir="jni" />
      <!-- jni_gpio -->
      <source-file src="src/android/jni_gpio/Android.mk" target-dir="jni_gpio" />
      <source-file src="src/android/jni/Application.mk" target-dir="jni_gpio" />
      <source-file src="src/android/jni_gpio/rk_pin_array_ctrl.h" target-dir="jni_gpio" />
      <source-file src="src/android/jni_gpio/native.cpp" target-dir="jni_gpio" />
      <!-- libs -->
      <source-file src="src/android/libs/armeabi-v7a" target-dir="libs/armeabi-v7a" />
      <!-- obj -->
      <source-file src="src/android/obj/local/armeabi-v7a" target-dir="obj/local/armeabi-v7a" />
      <!-- java -->
      <source-file src="src/android/com/nativecode/serialport" target-dir="src/com/nativecode/serialport" />
   </platform>
</plugin>